include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE.txt
include README.rst
include requirements/base.in
recursive-include labxchange_xblocks *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
