.image-block-student-view {
  max-height: 100vh;
}

.image-block-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.image-block-student-view .caption {
  text-align: center;
  max-width: 80%;
  margin: 1em auto;
}

.image-block-student-view .caption .citation {
  color: #777;
}

.image-block-student-view .caption .caption + .citation::before {
  content: '(';
}
.image-block-student-view .caption .caption + .citation::after {
  content: ')';
}
